@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Azure Durable Functions explorer</h1>
</div>

<div class="display-12">
    <a href="@Url.ActionLink("Index", "Application")">Go to default application</a>
</div>
